Package: dhcom-hal
Version: 1.0
Architecture: armel
Maintainer: Peter Kishalov <pkishalov@dh-electronics.de>
Installed-Size: 50K
Depends:
Section: misc
Priority: optional
Homepage: http://www.dh-electronics.com
Description: DHCOM Hardware Abstraction Library

